
<!-- Gallery -->
<div style="padding-top:20px" class="container">
    <div class="row">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <img src="/img/Gallery/9.jpg"
                 class="w-100 shadow-1-strong rounded mb-4"
                 alt="Boat on Calm Water" />

            <img src="/img/Gallery/5.jpg"
                 class="w-100 shadow-1-strong rounded mb-4"
                 alt="Wintry Mountain Landscape" />
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <img src="/img/Gallery/3.jpg"
                 class="w-100 shadow-1-strong rounded mb-4"
                 alt="Mountains in the Clouds" />

            <img src="/img/Gallery/10.jpg"
                 class="w-100 shadow-1-strong rounded mb-4"
                 alt="Boat on Calm Water" />
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <img src="/img/Gallery/4.jpg"
                 class="w-100 shadow-1-strong rounded mb-4"
                 alt="Waves at Sea" />

            <img src="/img/Gallery/6.jpg"
                 class="w-100 shadow-1-strong rounded mb-4"
                 alt="Yosemite National Park" />
        </div>
    </div>


    <div class="row">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <img src="/img/Gallery/2.jpg"
                 class="w-100 shadow-1-strong rounded mb-4"
                 alt="Boat on Calm Water" />

            <img src="/img/Gallery/7.jpg"
                 class="w-100 shadow-1-strong rounded mb-4"
                 alt="Wintry Mountain Landscape" />
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <img src="/img/Gallery/11.jpg"
                 class="w-100 shadow-1-strong rounded mb-4"
                 alt="Mountains in the Clouds" />

            <img src="/img/Gallery/13.jpg"
                 class="w-100 shadow-1-strong rounded mb-4"
                 alt="Boat on Calm Water" />
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <img src="/img/Gallery/12.jpg"
                 class="w-100 shadow-1-strong rounded mb-4"
                 alt="Waves at Sea" />

            <img src="/img/Gallery/6.jpg"
                 class="w-100 shadow-1-strong rounded mb-4"
                 alt="Yosemite National Park" />
        </div>
    </div>
</div>
<!-- Gallery -->