
<!-- Carousel Start -->
<div class="container-fluid p-0 pb-5">
    <div class="owl-carousel header-carousel position-relative">
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="/img/pozadina.jpg" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(53, 53, 53, .7);">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-8 text-center">
                            <h5 class="text-white text-uppercase mb-3 animated slideInDown">ДОБРЕДОЈДОВТЕ</h5>
                            <h1 class="display-3 text-white animated slideInDown mb-4">Енергетски ефикасни ПВЦ прозорци и врати за вашиот дом</h1>
                            <p class="fs-5 fw-medium text-white mb-4 pb-2">Прилагодливи опции за прозорци и врати, прилагодени на вашите преференции</p>
                            <a asp-controller="Contact" asp-action="Index" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Бесплатна понуда</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="/img/ekolplast-pozadina-profili-pocetna.png" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(53, 53, 53, .7);">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-8 text-center">
                            <h1 class="display-3 text-white animated slideInDown mb-4">ПВЦ профилот мора да биде вистинскиот избор</h1>
                            <p class="fs-5 fw-medium text-white mb-4 pb-2">Ви нудиме профили со 5, 6 па дури и 7 комори <br /> Во бела, антрацит, махагони, златен даб и други бои</p>
                            <a style="background-color:#387aba; border-color:#387aba" asp-controller="Home" asp-action="Profiles" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Види ги профилите</a>
                            <a asp-controller="Contact" asp-action="Index" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Бесплатна понуда</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->
<!--Ponuda-->
<About></About>
<!-- About Start -->
<div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
    <div class="container about px-lg-0">
        <div class="row g-0 mx-lg-0">
            <div class="col-lg-6 ps-lg-0" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="position-absolute img-fluid w-100 h-100" src="img/about.jpg" style="object-fit: cover;" alt="">
                </div>
            </div>
            <div class="col-lg-6 about-text py-5 wow fadeIn" data-wow-delay="0.5s">
                <div class="p-lg-5 pe-lg-0">
                    <div class="section-title text-start">
                        <h1 class="display-5 mb-4">За нас</h1>
                    </div>
                    <p class="mb-4 pb-2">
                        <b>Квалитет на кој можете да му верувате:</b> <br />
                        Добредојдовте во Ekol-Plast, семеен бизнис со страст за изработка на висококвалитетни ПВЦ прозорци и врати. Со две децении искуство, ние сме во првите редови на индустријата, гордо служејќи ѝ на нашата заедница и пошироко
                    </p>
                    <a style="background-color:#387aba" asp-controller="Home" asp-action="AboutUs" class="btn btn-primary py-3 px-5">Дознај Повеќе</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Back to Top -->