
<!DOCTYPE html>
<html lang="en">
<body>
    <div class="py-4 py-xl-5" style="background: #2777bd;">
        <div class="row gy-4 gy-md-0">
            <div class="col-md-6">
                <div class="p-xl-5 m-xl-5"><img class="rounded img-fluid w-100 fit-cover" style="min-height: 300px;" src="/assets/img/supremo-sa-okruglim-postoljem-1200x960.png"></div>
            </div>
            <div class="col-md-6 d-md-flex align-items-md-center">
                <h1 class="text-start" style="color: var(--bs-white);margin-left: 22px; font-size: 55px;">Изберете ПВЦ што трае со децении</h1>
                <div style="max-width: 350px;"></div>
            </div>
        </div>
    </div>
    <div class="container py-4 py-xl-5">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2>Heading</h2>
                <p class="w-lg-50">Curae hendrerit donec commodo hendrerit egestas tempus, turpis facilisis nostra nunc. Vestibulum dui eget ultrices.</p>
            </div>
        </div>
        <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
            <div class="col">
                <div class="card">
                    <img class="card-img-top w-100 d-block fit-cover" style="height: 300px;padding-bottom: 0px;margin-bottom: 0px;padding-top: 0px;margin-top: 0px;" src="/assets/img/7600-Forest-product-image-1.png" width="354" height="200">
                    <div class="card-body p-4" style="margin-top: -2px;padding-top: 24px;">
                        <h4 class="card-title" style="color: rgb(0,0,0);">7600 Series</h4>
                        <div class="d-flex" style="padding-bottom: 10px;">
                            <img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="/assets/img/Chamber-number-Baufens-200x200.png">
                            <div>
                                <p class="fw-bold mb-0">6 комори</p>
                                <p class="text-muted mb-0">1.2мм железо</p>
                            </div>
                        </div>
                        <div class="d-flex" style="padding-bottom: 10px;">
                            <img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="/assets/img/Profile-width-Baufens-200x200.png">
                            <div>
                                <p class="fw-bold mb-0">70mm</p>
                                <p class="text-muted mb-0">ширина на профилот</p>
                            </div>
                        </div>
                        <div class="d-flex" style="padding-bottom: 10px;">
                            <img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="/assets/img/Gasket-icon-Baufens-200x200.png">
                            <div>
                                <p class="fw-bold mb-0">Дихтунзи (гуми)</p>
                                <p class="text-muted mb-0">2/3</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img class="card-img-top w-100 d-block fit-cover" style="height: 300px;padding-bottom: 0px;margin-bottom: 0px;padding-top: 0px;margin-top: 0px;" src="/assets/img/7000-series-3d-model-White.png" width="354" height="200">
                    <div class="card-body p-4" style="margin-top: -2px;padding-top: 24px;">
                        <h4 class="card-title" style="color: rgb(0,0,0);">6000 Series</h4>
                        <div class="d-flex" style="padding-bottom: 10px;">
                            <img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="/assets/img/Chamber-number-Baufens-200x200.png">
                            <div>
                                <p class="fw-bold mb-0">5 комори</p>
                                <p class="text-muted mb-0">1.2мм железо</p>
                            </div>
                        </div>
                        <div class="d-flex" style="padding-bottom: 10px;">
                            <img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="/assets/img/Profile-width-Baufens-200x200.png">
                            <div>
                                <p class="fw-bold mb-0">70mm</p>
                                <p class="text-muted mb-0">ширина на профилот</p>
                            </div>
                        </div>
                        <div class="d-flex" style="padding-bottom: 10px;">
                            <img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="/assets/img/Gasket-icon-Baufens-200x200.png">
                            <div>
                                <p class="fw-bold mb-0">Дихтунзи (гуми)</p>
                                <p class="text-muted mb-0">2</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img class="card-img-top w-100 d-block fit-cover" style="height: 300px;padding-bottom: 0px;margin-bottom: 0px;padding-top: 0px;margin-top: 0px;" src="/assets/img/8500-White.jpg" width="354" height="200">
                    <div class="card-body p-4" style="margin-top: -2px;padding-top: 24px;">
                        <h4 class="card-title" style="color: rgb(0,0,0);">8500 Series</h4>
                        <div class="d-flex" style="padding-bottom: 10px;">
                            <img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="/assets/img/Chamber-number-Baufens-200x200.png">
                            <div>
                                <p class="fw-bold mb-0">7 комори</p>
                                <p class="text-muted mb-0">1.5мм железо</p>
                            </div>
                        </div>
                        <div class="d-flex" style="padding-bottom: 10px;">
                            <img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="/assets/img/Profile-width-Baufens-200x200.png">
                            <div>
                                <p class="fw-bold mb-0">85mm</p>
                                <p class="text-muted mb-0">ширина на профилот</p>
                            </div>
                        </div>
                        <div class="d-flex" style="padding-bottom: 10px;">
                            <img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="/assets/img/Gasket-icon-Baufens-200x200.png">
                            <div>
                                <p class="fw-bold mb-0">Дихтунзи (гуми)</p>
                                <p class="text-muted mb-0">3</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h1 class="text-center" style="background: #2777bd;padding-bottom: 20px;padding-top: 20px;color: var(--bs-white);margin-top: 38px;">Достапни бои</h1>
    </div>
    <div class="container">
        <div class="row" style="background: #ffffff;">
            <div class="col-md-3 text-center" style="background: #eaeaea;">
                <img src="/assets/img/White-profile-color-Baufens-200x72.png" style="margin-top: -2px;padding-top: 30px;">
                <p>Бела</p>
            </div>
            <div class="col-md-3 text-center" style="background: #eaeaea;">
                <img src="/assets/img/Anthracite-profile-color-Baufens-200x72.png" style="padding-top: 30px;">
                <p>Антрацит</p>
            </div>
            <div class="col-md-3 text-center" style="background: #eaeaea;">
                <img src="/assets/img/Golden-oak-profile-color-Baufens-200x72.png" style="padding-top: 30px;">
                <p>Златен Даб</p>
            </div>
            <div class="col-md-3 text-center" style="background: #eaeaea;">
                <img src="/assets/img/Mahogany-profile-color-Baufens-200x72.png" style="padding-top: 30px;">
                <p>Махагони</p>
            </div>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js"></script>
    <script src="assets/js/Lightbox-Gallery-No-Gutters.js"></script>
</body>
</html>