@model Ekol_Plast_MVC.Models.Contact

<div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
    <div class="container quote px-lg-0">
        <div class="row g-0 mx-lg-0">
            <div class="col-lg-6 ps-lg-0" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="position-absolute img-fluid w-100 h-100" src="img/freequote.jpg" style="object-fit: cover;" alt="">
                </div>
            </div>
            <div class="col-lg-6 quote-text py-5 wow fadeIn" data-wow-delay="0.5s">
                <div class="p-lg-5 pe-lg-0">
                    <div class="section-title text-start">
                        <h1 class="display-5 mb-4">Бесплатна понуда</h1>
                    </div>

                    ☎️ <a href="tel:070479402">070-479-402</a>    📧 <a href="mailto:contact@ekolplast.mk">contact@ekolplast.mk</a>

                    <hr />
                    <p class="mb-4 pb-2">Ние сме овде да ги оствариме вашите идеи и да ви обезбедиме најдоброто со ПВЦ прозорци и врати. Ве молиме, испратете го вашето барање со димензии преку формуларот подолу. Нашиот тим на ќе ви одговори во најскоро време со детална понуда.</p>
                    <form method="post" asp-controller="Contact" asp-action="Index">
                        @Html.AntiForgeryToken()
                        <div class="row g-3">
                            <div class="col-12 col-sm-6">
                                <input asp-for="Name" type="text" class="form-control border-0" placeholder="Вашето име" style="height: 55px;">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="col-12 col-sm-6">
                                <input asp-for="Email" type="email" class="form-control border-0" placeholder="е-маил" style="height: 55px;">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="col-12 col-sm-6">
                                <input asp-for="Number" type="text" class="form-control border-0" placeholder="Телефонски број" style="height: 55px;">
                                <span asp-validation-for="Number" class="text-danger"></span>
                            </div>
                            <div class="col-12">
                                <textarea asp-for="Body" class="form-control border-0" placeholder="Вашето барање"></textarea>
                                <span asp-validation-for="Body" class="text-danger"></span>
                            </div>
                            <div class="col-12">
                                <button style="background-color:#387aba; border-color:#387aba" class="btn btn-primary w-100 py-3" type="submit">Прати</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <br />
            <hr />
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2968.559857209751!2d21.489014976460854!3d41.92381966254984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13543d2beb1236af%3A0x59dedc4678bf49f4!2sEKOL%20PLAST%20-%20PVC%20Prozori%20i%20Vrati!5e0!3m2!1sen!2smk!4v1725909181368!5m2!1sen!2smk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>
