<!DOCTYPE html>
<html>
<head>
    <title>Contact Form - Success</title>
</head>
<body>
    <div class="container">
        <h1>Пораката е успешно испратена</h1>
        <p>Ви благодариме, ќе ве контактираме наскоро.</p>
    </div>
</body>
</html>
